
section {
  display: flex;
  justify-content: center;

  .container {
    display: grid;
    width: calc(100% - 30px);
    max-width: 1530px;
    grid-template-columns: repeat(12, 1fr);
    
    @include vw(30, 'grid-column-gap');

    @include laptop {
      max-width: 1200px;
    }
  }
}